*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
    display: flex;
}

/* Adicionar Produtos */

.logoMoska{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px groove #8a48fa;

}

.container-barraLateral{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: 20%;
    height: 100vh;
}

.allCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55%;
}

#cardLateral{
    margin-top: 10%;
    border-bottom: 2px solid #8a48fa;
    width: 70%;
    height: 7%;
    z-index: 999;
}

#cardLateral a{
    font-size: 2.2rem;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms linear;
    padding-bottom: 3%;
}

#cardLateral a:hover{
    letter-spacing: .1rem;
    transform: translateY(-12%);
    color: #8a48fa;
}

.containerR{
    width: 80%;
    height: 100vh;
    position: relative;
    background-color: #151515;
}

.containerR h2{
    color: #8a48fa;
    font-size: 55px;
    margin-top: 2%; 
    margin-bottom: 3%;
    text-align: center;
}

.imgbg{
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
}

.containerADD{
    background-color: #151515;

    color: #9e5ed6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 60%;
    height: 90%;
    margin: auto;
    left: 50%;
    transform: translate(  -50%, -50%);
    top: 50%;
    border: 0.5px solid #8a48fa;
    box-shadow: 0 0 50px #000;
    border-radius: 15px;
}

.container-bottom button{
    margin: 0;
}

.iptInfo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iptInfo h4{
    color: white;
    width: 78%;
    margin-top: 3%;
    margin-bottom: .8%;
    font-size: 38px;
}

.iptInfo input{
    color: #8a48fa;
    font-size: 24px;
    padding: .8%;
    height: 40px;
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8a48fa;
    outline: none;
}

.iptInfo input::placeholder{
    color: #8a48fa;
}

.iptInfo textarea{
    color: #8a48fa;
    font-size: 25px;
    padding: .8%;
    height: 200px;
    width: 80%;
    background-color: transparent;
    border: 2px solid #8a48fa;
    border-radius: 5px;
    outline: none;
}

.iptInfo textarea::placeholder{
    color: #8a48fa;
}

.iptInfo li{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: red;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

.mid-file{
    color: #fff;
    font-size: 34px;
    width: 100%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.mid-file input{
    color: #8a48fa;
    font-size: 20px;
    margin-top: 2%;
    outline: none;

}

.mid-file li{
    display: flex;
    justify-content: flex;
    text-decoration: none;
    list-style-type: none;
}


#img{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin: auto;
    padding: 1%;

}

#img img{
    max-width: 70%;
    
}


.btn-addProd{
    color: #8a48fa;
    background-color: transparent;
    border: none;
    border-top: 2px solid #8a48fa;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 0;
    height: 100%;
    padding: 1%;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    transition: 300ms linear;
}

.btn-addProd:hover{
    font-size: 2.2rem;
    cursor: pointer;
    color: black;
    background-color: #8a48fa;
}

/* Adicionar Produtos */






.containerEDIT{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.containerEDIT input{
    width: 100%;
    height: 75px;
    outline: none;

}

.imgAddProd{
    width: 20%;
    height: auto;
}

.mudar{
    display: none;
}

/* Excluir Produto */

.localizar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-localizar{
    width: 80%;
    align-self: center;

}

.titulo-localizar h2{
    color: #fff;
    font-size: 38px;
    display: flex;
    width: 80%;
}

.inp-localizar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inp-localizar input{
    width: 80%;
    color: #8a48fa;
    font-size: 25px; 
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8a48fa;
    margin-bottom: 3%;
    padding: 1%;
    outline: none;

}

.inp-localizar input::placeholder{
    color: #8a48fa;
}

.inp-localizar li{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: red;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

.btn-localizar{
    display: flex;
    justify-content: center;
}

.btn-localizar button{
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    color: #8a48fa;
    border: none;
    border-top: 2px solid #8a48fa;
    border-bottom: 2px solid #8a48fa;
    background: transparent;
    transition: 300ms linear;
}

.btn-localizar button:hover{
    font-size: 2.2rem;
    cursor: pointer;
    color: black;
    background-color: #8a48fa;
}

.btn-remove{
    margin-top: 8%;
    height: 80%;
}

/* Excluir Produto */



/* Responsividade */

@media screen and (max-width: 2500px){
    .iptInfo h4{
        margin: 1%;
    }
}

@media screen and (max-width: 2200px){
    .iptInfo h4{
        margin: 0;
    }
}

@media screen and (max-width: 2000px){
    .container-inputs h2{
        margin: 0;
        margin-top: 1%;
        height: 90%;
    }

    .container-barraLateral{
        width: 25%;
    }

    .allCards{
        width: 100%;
    }

    .allCards a{
        width: 100%;
    }

}

@media screen and (max-width: 1800px){
    .containerADD{
        height: 90%;
    }

    .container-inputs{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-inputs h2{
        font-size: 3rem;
    }

    .container-inputs h4{
        font-size: 2rem;
    }

    .iptInfo input{
        font-size: 1rem;
    }

    .iptInfo textarea{
        height: 170px;
        font-size: 1rem;
    }

    .mid-file input{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1600px){

    .container-barraLateral{
        width: 30%;
    }
    
    #cardLateral a{
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 1200px){
    .containerADD{
        width: 75%;
        height: auto;
    }

    .containerADD h2{
        font-size: 2.5rem;
    }

    .containerADD h4{
        font-size: 1.5rem;
    }

    .containerADD input{
        font-size: .8rem;
        margin-bottom: 2%;
    }

    .containerADD textarea{
        font-size: .8rem;
        margin-bottom: 2%;
    }

    .containerADD button{
        padding: 2%;
        font-size: 1.5rem;
    }

    .logoMoska img{
        width: 85%;
    }

    #cardLateral a{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 900px){

    .containerADD{
        width: 80%
    }

    .containerADD h2{
        font-size: 2.2rem;
    }

    #cardLateral {
        width: 80%;
    }

    #cardLateral a{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 700px){

    .containerADD h2{
        font-size: 2rem;
    }

    .containerADD h4{
        font-size: 1.4rem;
    }

    .containerADD button{
        font-size: 1.2rem;
    }

    #cardLateral a{
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px){

    .containerADD h2{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.8rem;
    }

    .containerADD h4{
        font-size: 1.2rem;
    }

    .containerADD textarea{
        height: 120px;
    }

    #cardLateral{
        width: 100%;
    }

    #cardLateral a{
        font-size: .8rem;
    }

}

@media screen and (max-width: 400px){
    
    .containerADD{
        height: 63%;
    }

    .containerADD h2{
        font-size: 1.4rem;
        margin: 3%;
    }

    .containerADD h4{
        font-size: .9rem;
        margin-top: 2%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .containerADD input{
        height: 35px;
        font-size: .7rem;
        margin-bottom: 3%;
    }
    
    .containerADD textarea{
        height: 70px;
    }
    
    .containerADD button{
        font-size: .8rem; 
    }
    
    .mid-file input{
        font-size: .5rem;
    }

    #cardLateral a:hover{
        letter-spacing: .05rem;
    }

}