*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #181818;
    display: flex;
}

.logoMoska{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px groove #8a48fa;

}

.container-barraLateral{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: 20%;
    height: 100vh;
}

.allCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55%;
}

#cardLateral{
    margin-top: 10%;
    border-bottom: 2px solid #8a48fa;
    width: 70%;
    height: 7%;
    z-index: 999;
}

#cardLateral a{
    font-size: 2.2rem;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms linear;
    padding-bottom: 3%;
}

#cardLateral a:hover{
    letter-spacing: .1rem;
    transform: translateY(-12%);
    color: #8a48fa;
}

.containerR h1{
    color: #8a48fa;
    font-size: 55px;
    margin-top: 2%; 
    margin-bottom: 3%;
    text-align: center;
}

.containerR h2{
    color: #fff;
    font-size: 55px;
    margin-top: 2%; 
    width: 100%;
    text-align: center;
}

.containerADD{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
}

.imgbg{
    position: absolute;
    top: 0;
    background-position: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

/* Left */

.containerEDIT{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(  -50%, -50%);
    top: 50%;
    left: 50%;
}

.container-inputs{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.container-inputs-col1{
    border-radius: 15px;
    border: 2px solid #8a48fa;
    background-color: #151515;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    align-self: center;
    flex-direction: column;
    height: 90%;
    width: 30%;
    margin-left: 20%;
    margin-right: 1%;
    box-shadow: 0 0 50px #000;

}

.container-inputs-col1 input{
    color: #8a48fa;
    font-size: 20px;
    width: 100%;
    height: 20px;
    padding: 2%;
    border: none;
    border-bottom: 2px solid #8a48fa;
    background-color: transparent;
    outline: none;
}

.container-inputs-col1 input::placeholder{
    color: #8a48fa;
}

.container-inputs-col1 li{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: red;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

.titulo{
    width: 80%;
}

.titulo h2{
    width: 100%;
    display: flex;
    text-align: start;
    justify-content: flex-start;
}

.localizar-itens .titulo h2{
    font-size: 2rem;
}

.localizar{
    width: 80%;
}

.localizar input{
    margin-top: 2%;
}

.localizar button{
    color: #8a48fa;
    margin-top: 4%;
    height: 45px;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    border: 2px solid #8a48fa;
    border-radius: 8px;
    background-color: transparent;
    transition: 300ms linear;
}

.localizar button:hover{
    cursor: pointer;
    color: black;
    background-color: #8a48fa;
    letter-spacing: .1rem;
}

.iptInfo{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.iptInfo h4{
    color: #fff;
    font-size: 2rem;
    margin-top: 5%;
}

.iptInfo textarea{
    color: #8a48fa;
    font-size: 20px;
    width: 100%;
    height: 90px;
    margin-top: 2%;
    background-color: transparent;
    border: 2px solid #8a48fa;
    border-radius: 8px;
    padding: 2%;
    outline: none;
}

.iptInfo textarea::placeholder{
    font-size: 20px;
    color: #8a48fa;
}


#img{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin: auto;

}

#img img{
    max-width: 80%;
    
}

/* Left */


/* Right */

.container-inputs-col2{
    border: 2px solid #8a48fa;
    border-radius: 15px;
    background-color: #151515;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 90%;
    width: 40%;
    box-shadow: 0 0 50px #000;
}

.mid-right-input input{
    height: 10px;
}

li{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: red;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

.editar-produto h2{
    color: #8a48fa;
    margin-bottom: 7%;

}

.mid-right-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iptInfo h2{
    color: #fff;
    font-size: 2rem;
    text-align: start;
    margin-top: 5%;
}

.iptInfo input{
    width: 100%;
    height: 35px;
    padding: 1.5%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8a48fa;
    color: #8a48fa;
    outline: none;
}

.iptInfo input::placeholder{
    color: #8a48fa;
    font-size: 25px;
}

.imgAddProd{
    color: #8a48fa;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    height: auto;
    align-self: center;
}

.imgAddProd input{
    font-size: 1.2rem;
}

.imgAddProd h2{
    font-size: 2rem;
    display: flex;
    justify-content: start;
    margin-bottom: 2%;
}

.btn-addProd{
    color: #8a48fa;
    width: 100%;
    height: 50px;
    margin-top: 4%;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    border-top: 2px solid #8a48fa;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: 300ms linear;
}

.btn-addProd:hover{
    color: black;
    background-color: #8a48fa;
    letter-spacing: .2rem;
    cursor: pointer;
}












/* Responsividade */


@media screen and (max-width: 2500px){
    
    .containerADD{
        height: 66%;
    }

    .container-inputs-col2{
        height: auto;
    }
    
    .iptInfo h4{
        margin: 1%;
    }
}

@media screen and (max-width: 2200px){
    .containerADD{
        height: 72%;
    }

    .iptInfo h4{
        margin: 0;
    }
}

@media screen and (max-width: 2000px){

    #cardLateral a{
        font-size: 1.8rem;
    }

    .containerADD{
        height: 77%;
    }

    .container-inputs h2{
        margin: 0;
        margin-top: 1%;
        height: 90%;
    }

    .container-barraLateral{
        width: 22%;
    }


    .allCards{
        width: 100%;
    }

    .allCards a{
        width: 100%;
    }

}

@media screen and (max-width: 1800px){
   
    .containerADD{
        height: 90%;
    }

    .container-inputs{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-inputs h2{
        font-size: 3rem;
    }

    .container-inputs h4{
        font-size: 2rem;
    }

    .iptInfo input{
        font-size: 1rem;
    }

    .iptInfo textarea{
        height: 170px;
        font-size: 1rem;
    }

    .mid-file input{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1600px){
    
    .containerADD{
        height: 93%;
    }

    .container-inputs-col2 h2{
        margin-bottom: 1%;
    }

    .container-barraLateral{
        width: 22%;
    }

    #cardLateral a{
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 1300px){
    
    .containerADD{
        height: 83%;
    }

    .containerADD h1{
        font-size: 2.8rem;
    }

    
    .containerADD h4{
        font-size: 1.5rem;
        margin-top: 4%;
    }
    
    .editar-produto h2{
        font-size: 2.8rem;
    }

    .iptInfo h2{
        font-size: 1.5rem;
    }

    .mid-fileAddProd h2{
        font-size: 1.5rem;
    }

    .localizar-itens .titulo h2{
        font-size: 1.5rem;
    }

    #cardLateral a{
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 1200px){
    .containerADD{
        width: 75%;
        height: auto;
    }

    .containerADD h2{
        font-size: 2.5rem;
    }

    .containerADD h4{
        font-size: 1.5rem;
    }

    .containerADD input{
        font-size: .8rem;
        margin-bottom: 2%;
    }

    .containerADD textarea{
        font-size: .8rem;
        margin-bottom: 2%;
    }

    .containerADD button{
        padding: 2%;
        font-size: 1.5rem;
    }

    .logoMoska img{
        width: 85%;
    }

    #cardLateral a{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 900px){

    .containerADD{
        width: 80%
    }

    .containerADD h2{
        font-size: 2.2rem;
    }

    #cardLateral {
        width: 80%;
    }

    #cardLateral a{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 700px){

    .containerADD h2{
        font-size: 2rem;
    }

    .containerADD h4{
        font-size: 1.4rem;
    }

    .containerADD button{
        font-size: 1.2rem;
    }

    #cardLateral a{
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px){

    .containerADD h2{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.8rem;
    }

    .containerADD h4{
        font-size: 1.2rem;
    }

    .containerADD textarea{
        height: 120px;
    }

    #cardLateral{
        width: 100%;
    }

    #cardLateral a{
        font-size: .8rem;
    }

}

@media screen and (max-width: 400px){
    
    .containerADD{
        height: 63%;
    }

    .containerADD h2{
        font-size: 1.4rem;
        margin: 3%;
    }

    .containerADD h4{
        font-size: .9rem;
        margin-top: 2%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .containerADD input{
        height: 35px;
        font-size: .7rem;
        margin-bottom: 3%;
    }
    
    .containerADD textarea{
        height: 70px;
    }
    
    .containerADD button{
        font-size: .8rem; 
    }
    
    .mid-file input{
        font-size: .5rem;
    }

    #cardLateral a:hover{
        letter-spacing: .05rem;
    }

}