@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

.swal2-title, .swal2-html-container{
    color: white !important;
}

.swal2-icon.swal2-error, .swal2-icon.swal2-error {
    border: 3px solid #8a48fa !important;
    color: #8a48fa !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #8a48fa !important;
}

.swal2-footer{
    border-top: 3px solid #8a48fa !important;
}

.swal2-styled.swal2-confirm{
    background-color: #8a48fa !important;
    font-weight: bold;
}

.swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'inconcolata', monospace;      
    background-color: black;
}

.imgbg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: .6;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* Parte do cadastro */

.titulo{
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}

.titulo-bem-vindo{
    color: black;
    padding-bottom: 5%;
}

.titulo-volta{
    color: #8a48fa;
    padding: 6% 0% 4%;

}

.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.descricao-1{
    color: black;
}

.descricao-2{
    color: #7f8c8d;
    margin: 4% 2% 4% 2%;
}

.descricao-geral{
    padding-bottom: 5%;
}

.btn{
    border-radius: 15px;
    border: 1px solid white;
    text-transform: uppercase;
    color: black;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}

.btn-primario{
    background-color: transparent;
    transition: background-color 1s;
    margin-top: 5%;
    border-color: black;
    color: black;
}

.btn-primario:hover{
    color: #8a48fa;
    background-color: black;
    border-color: none;
    
}

.btn-secundario{
    color: #8a48fa;
    border: 1px solid #8a48fa;
    background-color: black;
    margin: 5% 0% 15%;
    transition: background-color 1s;
}

.btn-secundario:hover{
    color: black;
    background-color: #8a48fa;
    border: 1px solid #8a48fa;
}

.conteudo{
    background-color: black;
    border-radius: 15px;
    width: 75%;
    height: 65%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteudo::before{
    content: "";
    position: absolute;
    background-color: #8948fad0;
    width: 42%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    left: 0%;
}

.conteudo-1{
    display: flex;
    position: relative;
    display: flex;

}

.col-1{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.conteudo-1 .col-2{
    z-index: 12;
}

.col-2{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.col-2 label{
    height: auto;
    width: 100%;
}

.list-social-media{
    display: flex;
    list-style: none;
    padding-bottom: 8%;
    justify-content: center;
}

.link-social-media{
    color: #b1b5b6;
    font-size: 180%;
}

.link-social-media:not(:first-child){
    margin-left: 8%;
}

.link-social-media:hover{
    color: #8a48fa;
    font-size: 200%;
}

.item-social-media{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0% 5% 0% 5%;

}

.item-social-media a{
    color: #8a48fa;
    font-size: 30px;
    align-self: center;
}

.link-social-media{
    transition: color .4s;
    transition: font-size .2s;
}

.label-informacao{
    color: #8a48fa;
    font-size: 20px;
    background-color: #181818;
    border-radius: 15px;
    padding-left: 4%;
    margin: 2%;
    width: 100%;
    align-items: center;

}

.input-conta{
    border-color: transparent;
    font-size: 15px;
    padding-left: 5%;
    height: 100%;
    width: 84%;
    inline-size: none;
}

.input-conta:hover{
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input{
    height: 45px;
    border: none;
    background-color: #181818;
    margin: 2%;
    color: #8a48fa;
}

.form input:focus{
    outline: none;
}

/* Parte do cadastro */


/* Parte do login */

.conteudo-2{
    position: absolute;
    display: flex;
}

.conteudo-2 .col-1{
    order: 2;
    z-index: -1;
}

.conteudo-2 .col-2{
    order: 1;
    z-index: -1;
}

.password{
    color: #8a48fa;
    font-size: 14px; 
    margin: 15px 0 ;
    align-self: center;
}

/* Animação */

.logar .conteudo-1 .col-1,
.logar .conteudo-1 .col-2{
    z-index: -1;
}

.logar .conteudo-2 .col-2{
    z-index: 11;
}

.logar .conteudo-2 .col-1{
    z-index: 13;
}


.logar .conteudo::before{
    left: 58%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    animation: slidein 2s;
    z-index: 12;
}

.cadastrar .conteudo::before{
    animation: slideout 2s;
    z-index: 12;
}

.cadastrar .conteudo-2 .col-1,
.cadastrar .conteudo-2 .col-2{
    z-index: -1;
}

.cadastrar .conteudo-1 .col-2{
    z-index: 11;
}

.cadastrar .conteudo-1 .col-1{
    z-index: 13;
}




@keyframes slidein{
    from{
        left: 0;
        width: 45%;
    }

    /* 25%{
        left: 10%;
        width: 50%;
    } 

    50%{
        left: 25%;
        width: 60%;
    } 

    75%{
        left: 45%;
        width: 50%;
    } */

    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout{
    from{
        left: 45%;
        width: 50%;
    }

    /* 25%{
        left: 45%;
        width: 50%;
    } 
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 10%;
        width: 50%;
    } */ 

    to{
        left: 0%;
        width: 45%;
    }
}

/* Animação */

/* Responsividade */


@media screen and (min-width: 280px) {
    
    body{
        height: 100%;
    }

    .conteudo{
        width: 90%;
    }

    .titulo{
        font-size: 14px;
    }

    .titulo-volta{
        font-size: 16px;
        margin-top: 0;
        padding-top: 0;
    }

    .descricao{
        font-size: 10px;
        text-align: center;
    }

    .link-social-media{
        font-size: 14px;
    }

    .link-social-media:hover{
        color: #8a48fa;
        font-size: 130%;
    }

    .item-social-media{
        width: 23px;
    }

    .form{
        width: 80%;
    }

    .col-2 label{
        justify-content: center;
        padding: 0;
        margin-left: 0;
    }

    .cadastrar .conteudo-2 .col-1 input label{
        width: 30px;
    }

    .login input{
        margin-left: 5%;
    }
    
    .label-informacao{
        align-self: center;
        height: 25px;
    }

    .logar .label-informacao{
        margin-left: -1%;
    }

    .label-informacao i{
        font-size: 14px;
        padding-left: 4%;
    }

    .input-conta{
        width: 60%;
        font-size: 10px;
    }
    
    .password{
        font-size: 8px;
        width: 80%;
    }

    .btn{
        width: 75px;
        padding: 0px 15px 0px 15px;
        height: 25px;
        align-self: center;
        font-size: 8px;

    }
}

@media screen and (min-width: 500px) {
    .container{
        width: 100%;
    }

    .titulo-volta{
        margin-bottom: 0;
        margin-top: 20%;
    }

    .conteudo{
        width: 80%;
    }

    .titulo{
        font-size: 20px;
    }

    .titulo-bem-vindo{
        padding-left: 2.5%;
    }

    .link-social-media{
        font-size: 20px;

    }

    .link-social-media :not(:first-child){
        padding-left: 15px;    
    }

    .logar .label-informacao{
        margin-left: -1%;
    }

    .cadastrar .label-informacao{
        margin-right: -4%;
    }

    .label-informacao i{
        font-size: 18px;
        padding-left: 6%;
    }

    .password{
        text-align: center;
        font-size: 12px;
    }

    .descricao{
        font-size: 11px;
    }

    .form input{
        font-size: 12px;
    }

    .btn{
        width: 58%;
        height: 28px;
        font-size: 10px;
    }

    .btn-primario{
        text-align: center;
        text-align-last: center;
    }
    

}

@media screen and (min-width: 700px) {
    
    .titulo-volta{
        margin-top: 15%;

    }

    .link-social-media{
        font-size: 23px;
    }

    .link-social-media:not(:first-child){
        margin-left: 13px;
    }

    .link-social-media:hover{
        font-size: 160%;
    }

    .logar .label-informacao{
        margin-left: -1%;
    }


}

@media screen and (min-width: 850px) {
    

    .form label{
        width: 100%;
        height: 50px;
        display: flex;
    }

    .form input{
        height: 90%;
        width: 80%;
        display: flex;
        font-size: 15px;
    }

    .form i{
        font-size: 23px;
        padding: 1%;
    }

    .titulo-bem-vindo, .titulo-volta{
        font-size: 28px;
    }

    .descricao{
        font-size: 14px;
        margin: 2px 0px 2px 0px;
    }

    .link-social-media{
        font-size: 25px;
    }

    .link-social-media:not(:first-child){
        margin-left: 20px;
    }

    .link-social-media:hover{
        font-size: 30px;
    }

    .password{
        font-size: 16px;
    }
    
}

@media screen and (min-width: 1100px) {
    
    .conteudo{
        height: 75%;
    }

    .titulo-bem-vindo{
        font-size: 35px;
    }

    .titulo-volta{
        font-size: 30px;
        padding-bottom: 3%;
    }

    .descricao{
        font-size: 16px;
    }

    .link-social-media{
        font-size: 31px;
    }

    .link-social-media:hover{
        font-size: 33px;
    }

    .link-social-media:not(:first-child){
        margin: 0px 0px 0px 20px;
    }

    .btn{
        padding: 3% 3% 6.5% 3%;
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 15px;
    }

    .form label{
        margin-left: 5%;
    }

    .form i{
        font-size: 25px;
        text-align: center;
        width: 15%;
        padding: 2% 2% 2% .5%;
    }

    .form input{
        width: 90%;
        padding: 0 3%;
    }

    .cadastrar .label-informacao{
        margin-left: -1%;
    }

}

@media screen and (min-width: 1360px){

    .titulo-bem-vindo, .titulo-volta{
        font-size: 45px;
    }

    .descricao{
        font-size: 20px;
    }

    .link-social-media{
        font-size: 40px;
        margin-bottom: 20%;
    }

    .link-social-media:hover{
        font-size: 43px;
    }

    .link-social-media:not(:first-child){
        margin-left: 60%;
    }

    .form i{
        font-size: 30px;
    }

    .form input{
        font-size: 19px;
    }

    .password{
        font-size: 20px;
    }

}

@media screen and (min-width: 1800px){


    .titulo-bem-vindo, .titulo-volta{
        font-size: 55px;
    }

    .descricao{
        font-size: 26px;
    }

    .logar .form {
        margin-right: 5%;
    }

    .Cadastrar .form {
        margin-right: 5%;
    }

    .form i{
        font-size: 200%;
    }

    .form label{
        padding: 2px 0 0 0;
        height: 50%;
        display: flex;
    }

    .form input{
        height: 100%;
        width: 90%;
        top: 0;
        font-size: 23px;
        justify-content: center;
        padding: 2%;
    }

    .link-social-media{
        font-size: 290%;
        margin-bottom: 50%;
    }

    .link-social-media:hover{
        font-size: 310%;
    }

    .link-social-media:not(:first-child){
        margin-left: 80%;
    }
    
    .btn{
        font-size: 140%;
    }

    .logar .label-informacao{
        margin-right: -2%;
    }


}

@media screen and (min-width: 2200px){

    .titulo-volta, .titulo-bem-vindo{
        font-size: 450%;
    }

    .descricao{
        font-size: 220%;
        line-height: 100%;
    }

    .link-social-media{
        font-size: 375%;
    }

    .link-social-media:hover{
        font-size: 400%;
    }

    .link-social-media:not(:first-child){
        margin-left: 110%;
        margin-bottom: 60%;
    }

    .form i{
        font-size: 300%;
    }   

    .form input{
        font-size: 150%;
        padding-top: 3%;
    }

    .btn{
        font-size: 170%;
    }

    .password{
        font-size: 200%;
    }

}


/* Responsividade */