.container{
    width: 100%;
    color: rgb(179, 179, 179);
    background-color: #181818;
    margin: auto;
    margin-top: 2%;
    font-family: 'Bebas Neue', cursive;
}

.titulo h2{
    color: #8a48fa;
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    padding-bottom: 1%;
    text-align: center;
}

.titulo-pagina h2{
    background-color: #292929;
    color: #8a48fa;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 1%;    
}


/* Parte Moska Shoes */

.conteudo #titulo h2{
    color: #8a48fa;
    font-family: 'Bebas Neue', cursive;

    font-size: 200%;
}

.historia-empresa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.historia-empresa img{
    width: 25%;
}

.historia-empresa p{
    width: 55%;
    height: auto;
    margin-top: 2%;
    margin-right: 7%;
    text-align: justify;
}

/* Parte Moska Shoes */

/* Por que MoskaShoes */

.historia-marca{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.col-hmarcaIMG{
    width: 100%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.col-hmarcaIMG img{
    width: 35%;
    height: auto;
    opacity: .6;
}

.col-hmarca h2{
    color: #8a48fa;
    font-family: 'Bebas Neue', cursive;

    font-size: 200%;
}   

.col-hmarca P{
    width: 100%;
    height: auto;
    margin-top: 4%;
    margin-right: 7%;
    text-align: justify;
    padding: 1% 5%;
}

/* Por que MoskaShoes */

/* Valores da empresa */

.valores{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 10px 15px;
    line-height: 155%;
    
}


.visao{
    background-color: #121212;
    border: 1px solid #8a48fa;
    padding: 5% 10%;
    width: 170%;
    height: 170px;
    border-radius: 12px;
    text-align: center;
    transition: 200ms linear;
}

.missao{
    background-color: #121212;
    border: 1px solid #8a48fa;
    padding: 5% 10%;
    width: 170%;
    height: 170px;
    border-radius: 12px;
    text-align: center;
    transition: 200ms linear;
}

.valor{
    background-color: #121212;
    border: 1px solid #8a48fa;
    padding: 5% 10%;
    width: 170%;
    height: 170px;
    border-radius: 12px;
    text-align: center;
    transition: 200ms linear;
}

.visao:hover, .missao:hover, .valor:hover{
    background-color: #0a0a0a;
    color: #8a48fa;
    box-shadow: 0px 0px 10px #8a48fa;

}

#cols-valores{
    margin: 0 8% 5%;
    max-width: 160px;
    align-items: center;
    display: flex;
    flex-direction: column;

}



/* Valores da empresa */

/* Grupo participantes */

.grupo img{
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 10px #8a48fa;
    border: 2px solid #8a48fa;
    border-radius: 50%;
}

.grupo{
    justify-content: center;
    align-items: center;
    display:grid;
    letter-spacing: 2px;
}

.grupo h2{
    color: #8a48fa;
}

.participantes{
    color: #8a48fa;
   
}

.grupo h3 i:hover{
    font-size: 130%;
    cursor: unset;
}

.grupo p{
    height: 25px;
    margin-bottom: 10%;
}

.grupo p i{
    font-size: 140%;
}

.david i, .ismael i, .guilherme i, .victor i{
    margin-top: 1.5%;
    font-size: 130%;
    transition: 150ms linear;
}

.david i:not(:first-child), .ismael i:not(:first-child), .guilherme i:not(:first-child), .victor i:not(:first-child){
    margin-left: 2%;
}

.david i:hover, .ismael i:hover, .guilherme i:hover, .victor i:hover{
    color: #8a48fa;
    font-size: 150%;
    cursor: pointer;
}

.david, .ismael, .guilherme, .victor{   
    text-align: center;
    margin-top: 5%;
}

.ismael img{
    width: 51%;
}

.victor img{
    width: 60%;
}

.col-1-participantes{
    display: flex;
    justify-content: center;
}

.col-2-participantes{
    display: flex;
    justify-content: center;
}

/* Grupo participantes */

/* FOOTER */

.maisProd{
    width: 50%;
    height: 10vh;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    color: #fff !important;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.maisProd .h1todos .todos{
    color: #8948fa;
    transition: all 300ms ease;
}

.maisProd .h1todos .todos:hover{
    letter-spacing: 4px;
}

/* Responsividade */

@media screen and (min-width:280px){

    .historia-empresa{
        flex-direction: column;
        align-items: center;
    }

    .historia-empresa p{
        width: 85%;
        margin: 5% 0;
        font-size: 140%;
    }

    .historia-empresa img{
        width: 70%;
    }

    .col-hmarcaIMG{
        flex-direction: column;
        align-items: center;
    }

    .col-hmarcaIMG img{
        width: 70%;
    }

    .col-hmarcaIMG p{
        margin: 5% 0;
        font-size: 150%;
    }
    
    .col-1-participantes, .col-2-participantes{
        margin-top: 5%;
    } 

    .col-1-participantes{
        flex-direction: column;
    }

    .col-2-participantes{
        flex-direction: column;
    }

    .valores{
        flex-direction: column;
        justify-content: center;
    }

    .cols{
        max-width: 100% !important;
    }

    .visao{
        width: 90%;
        height: 30%;
        font-size: 120%;
    }
    
    .missao{
        width: 90%;
        height: 30%;
        font-size: 120%;
    }

    .valor{
        width: 90%;
        height: 30%;
        font-size: 120%;
    }



}

@media screen and (min-width:550px){
    
    .historia-empresa{
        flex-direction: row;
        margin: 2%;
    }

    .historia-empresa img{
        width: 40%;
        padding: 4%;
    }

    .cols{
        max-width: 100% !important;
    }

    .valores{
        flex-direction: column;
        justify-content: center;
    }

    .visao{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }
    
    .missao{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }

    .valor{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }

    .col-hmarcaIMG{
        flex-direction: row;
    }

    .col-hmarcaIMG img{
        width: 45%;
    }

    .col-hmarcaIMG p{
        padding: 0 1% 0 3%;
    }

    .col-1-participantes{
        flex-direction: row;
    }

    .col-2-participantes{
        flex-direction: row;
    }

}

@media screen and (min-width:730px){
    
    .col-hmarca h2{
        font-size: 300%;
    }

    .titulo h2{
        font-size: 300%;
    }

    .valores{
        flex-direction: column;
        justify-content: center;
    }

    .cols{
        max-width: 100% !important;
    }

    .visao{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }
    
    .missao{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }

    .valor{
        width: 50%;
        height: 30%;
        font-size: 120%;
    }

    .visao h2, .missao h2, .valor h2{
        font-size: 160%;
    }


}

@media screen and (min-width:1000px){

    .container{
        font-size: 80%;
    }

    .visao{
        height: 30%;
        width: 70%;
        font-size: 120%;
    }
    
    .missao{
        height: 30%;
        width: 70%;
        font-size: 120%;
    }

    .valor{
        width: 70%;
        height: 30%;
        font-size: 120%;
    }

    .grupo{
        font-size: 140%;
    }
}

@media screen and (min-width:1500px){
    
    .container{
        font-size: 130%;
    }

    .valores{
        width: 100%;
        justify-content: space-around;
    }

    .visao{
        width: 50%;
        height: 330px;
        font-size: 120%;
    }
    
    .missao{
        width: 50%;
        height: 330px;
        font-size: 120%;
    }

    .valor{
        width: 50%;
        height: 330px;
        font-size: 120%;
    }


}

@media screen and (min-width:2000px){
    
    .container{
        font-size: 160%;
    }

    .valores{
        width: 100%;
        justify-content: space-around;
    }

    .visao{
        width: 300%;
        height: 330px;
        font-size: 120%;
    }
    
    .missao{
        width: 300%;
        height: 330px;
        font-size: 120%;
    }

    .valor{
        width: 300%;
        height: 330px;
        font-size: 120%;
    }

    .grupo img{
        width: 70%;
        justify-content: space-around;
    }

    .david, .ismael, .guilherme, .victor{
        margin: 2%;
    }

    .ismael h3{
        margin-top: 1%;
    }

    .victor h3{
        margin-top: 7%;
    }
}
