*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    --main-bg-color: #181818;
    --main-color: #8a48fa;
    --text-color: #fff;
}

body{
    overflow-x: hidden;
    position: relative;
    z-index: 999;
    font: 100%;
    background-color: var(--main-bg-color);
}

/* START-HEADER */

header{
    position: relative;
    height: 195px;
    -webkit-box-shadow: 0px 0px 15px 10px black; 
    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 15px 10px black;
    z-index: 1;
}

/* CONTAINER-HEADER */

.container-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ITEMS */

.items{
    width: 100%;
    height: 15%;
    border-bottom: 2px groove var(--main-color);
}

.container-items{
    width: 64%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contact, .login{
    display: flex;
}

.contact a, .login a, .contact i, .login i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding-bottom: 3px;
    font-size: 1.2rem;
    color: var(--main-color);
}

.contact a, .login a{
    padding-top: 5px;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    transition: all 300ms ease;
}

.contact a:hover, .login a:hover{
    color: var(--main-color);
}

/* END-ITEMS */

/* ROW-HEADER */

.row-header{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px groove var(--main-color);
}

/* CONTAINER-ROW */

.container-row{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-row a:hover{
    color: var(--main-color);
}

/* LOGO */

.logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-a-logo{
    max-height: 99%;
    display: flex;
}

.a-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-name{
    font-size: 1.8rem;
    font-style: oblique;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--main-color);
}

.image-logo-header{
    max-width: 50%;
    max-height: 100%;
}

/* END-LOGO */

/* SEARCH-BAR */

.search-bar{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search{
    width: 70%;
    height: 45px;
    padding-left: 1vw;
    padding-right: 5vw;
    border: 2px groove var(--main-color);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    color: var(--main-color);
    transition: all 300ms ease;
}

.input-search:focus{
    background: var(--main-bg-color);
    background: linear-gradient(142deg, var(--main-bg-color) 59%, var(--main-color) 100%);
}

.label-search{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    color: #141414;
    margin-left: 7%;
    transition: all 500ms ease;
    z-index: 1;
}

.input-search:focus{
    outline: 0;
}

.input-search:focus ~ .label-search{
    top: 0%;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

.input-search:focus ~ .button-search{
    background-color: var(--main-bg-color);
}

.button-search{
    position: absolute;
    left: 69.9%;
    top: 50%;
    transform: translateY(-50%);
    width: 14.9%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border: 2px solid rgba(0, 0, 0, 0);
    border-left: 2px solid var(--main-color);
    border-radius: 0 20px 20px 0;
    transition: all 300ms ease;
    z-index: 1;
}

.input-search:focus ~ .button-search i, .button-search i:hover{
    color: var(--main-color);
}

.button-search i{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-size: 1.2rem;
    color: var(--main-color);
    transition: all 300ms ease;
}

.button-search:hover > i{
    font-size: 1.25rem;
}

/* END-SEARCH-BAR */

/* CART */

.cart{
    width: 25%;
}

.cart-items{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cart-items a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    color: var(--text-color);
    transition: all 250ms linear;
}

.responsive-navbar li a{
    align-self: center;
}

.car-res{
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-res i{
    position: relative;
    color: var(--main-color);
}

.icons{
    width: 12.5% !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.cart-items a i, .icons i{
    position: relative;
    padding: 2%;
    color: var(--main-color);
}

.cart-items a i .cart-num{
    position: absolute;
    top: 0;
    bottom: 98%;
    left: 80%;
    width: 14px;
    height: 14px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding-left: 2px;
    font-weight: bold;
    background-color: #9E5ED6;
    color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

/* END-CART */

/* CHECK-BOX MENU RESPONSIVO */

#checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
.check_responsive{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.check_responsive span{
    position: absolute;
    width: 100%;
    height: 5px;
    display: flex;
    border-radius: 30px;
    background: var(--main-color);
    transition: all 300ms ease-in-out;
}

.check_responsive span:nth-child(1){
    height: 16%;
    top: 15%;
}

.check_responsive span:nth-child(2){
    height: 17%;
    top: 47%;
}

.check_responsive span:nth-child(3){
    height: 18%;
    top: 80%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(1){
    transform: rotate(-45deg);
    top: 50%;
}

#checkbox-menu:checked + .check_responsive span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + .check_responsive span:nth-child(3){
    transform: rotate(45deg);
    top: 50%;
}

/* END-CHECK-BOX MENU RESPONSIVO */

.responsive-items{
    display: none;
}

/* NAVBAR */

.navbar{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.navbar .nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav .ul{
    width: 72%;  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar .nav .ul .li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav .ul .li .a{
    font-family:'Roboto', sans-serif; 
    font-weight: 900;
    font-size: 1.4rem;
    color: var(--text-color);
    transition: all 250ms ease;
}

.navbar .nav .ul .li .a:hover{
    color: var(--main-color);
    letter-spacing: 1.5px;
}

.li-dropdown{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.li-dropdown:hover{
    width: 100%;
}

.dropdrop{
    display: flex;
    align-items: center;
}

.arrow{
    font-size: 1.1rem;
    margin-left: 2px;
    transition: all .3s ease;
}

.ul-border{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    transition: all 300ms ease;
    border-top: 3px solid var(--main-color);
    z-index: -1;
}

.li-dropdown:hover > .ul-border{
    display: flex;
    animation: animat 500ms ease forwards;
}

.li-ul-border, .li-infantil-c{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
    z-index: 999;
}

.li-ul-border, .a-ul-border{
    visibility: hidden;
    z-index: -1;
}

.a-ul-border, .a-infantil-c{
    position: relative;
    width: 92%;
    font-size: 1.3rem;
    color: var(--text-color);
    transition: all 300ms ease;
    background-color: transparent !important;
}

.li-ul-border:hover, .li-ul-border:hover .a-ul-border, .li-infantil-c:hover{
    background-color: #181818;
}

.li-ul-border:hover .a-ul-border{
    color: var(--main-color);
    transform: translateX(10px);
    letter-spacing: 2px;
}

.infantil:hover{
    border-top: 3px solid var(--main-color);
    transform: translateX(10px);
}

.infantil:hover > .a-ul-border i{
    transform: rotate(-180deg);
    top: 12.5%;
}

.a-ul-border i{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease;
    font-size: 1.3rem;
    color: var(--main-color);
}

.li-dropdown:hover > .ul-border .li-ul-border, .li-dropdown:hover > .ul-border .a-ul-border{
    visibility: visible;
}

@keyframes animat{
    from{
        height: 0px;
    }
    to{
        height: 200px;
    }
}

.li-infantil-c:hover .a-infantil-c{
    color: #9e5ed6;
}

.active{
    text-decoration: var(--main-color) !important;
}


.li-dropdown:hover .arrow{
    transform: rotate(-180deg);
}

.infantil{
    min-height: 50px;
    height: auto !important;
}

.infantil-c{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    display: none; 
    flex-direction: column;       
    justify-content: center;                   
    background-color: #181818;
    transition: all 300ms ease;
    z-index: 999;
}

.infantil:hover > .infantil-c{
    display: flex; 
}

.li-infantil-c:hover, .li-infantil-c:hover .a-infantil-c{
    transform: translateX(10px);
    letter-spacing: 2px;
    background-color: #222222;
    color: var(--main-color);
}

/* END NAVBAR */

/* NAVBAR RESPONSIVE */

.responsive-navbar{
    position: absolute;
    top: 100%;
    left: -200%;
    width: 100%;
    display: none;
    transition: all 300ms ease;
    background-color: #181818;
    border-top: 2px groove var(--main-color);
    z-index: 999;
}

.responsive-navbar nav{
    width: 100%;
    height: 100%;
    display: flex;
}

.responsive-navbar nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-navbar nav ul li{
    position: relative;
    width: 100%;
    min-height: 70px;
    height: auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease;
    z-index: 10;
}

.responsive-navbar nav ul li a{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--main-color);
    text-align: center;
}

.log, .car-res{
    text-shadow: 0px 0px 0px var(--main-color) !important;

}

.li-dropdown2{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.ul-border2{
    width: 100%;
    height: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color); 
    transition: all 300ms ease;
    border-top: 3px solid #181818;
    visibility: hidden;
}

.li-ul-border2{
    width: 100%;
    min-height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.a-ul-border2, .a-infantil-c2{
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--main-color);
}

.a-ul-border2{
    visibility: hidden;
}

.dropdrop2{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow.second{
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
    left: 95%;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10;
}

.arrow.third{
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
    left: 90%;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10;
}

.kidsecond{
    display: flex;
    flex-direction: column;
}

.infantil-c2{
    width: 100%;
    height: 0 !important;
    display: flex;
    flex-direction: column;
    background-color: #9e5ed6;
    visibility: hidden;
    z-index: 9;
    transition: all 300ms ease;
}

.li-infantil-c2{
    min-height: 70px;
    background-color: #9e5ed6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.displayzin{
    height: 210px !important;
    visibility: visible;
}

.displayzin2{
    visibility: visible !important;
    height: auto !important;
}

.displayzin3{
    visibility: visible;
    height: 140px !important;
    transition: all 300ms ease;
}

.displayzin4{
    height: 70px !important;
}

.li-infantil-c2:hover .a-infantil-c2{
    color: var(--main-color);
}

#checkbox-menu:checked ~ .responsive-navbar{
    left: 0%;
}

.infantilsecond:hover{
    height: auto ;
}

/* END-NAVBAR RESPONSIVE */

/* END-CONTAINER-HEADER */

/* CAROUSELS CONTAINER */

.carousels{
    position: relative;
    top: -2vh;
    height: 700px;
}

/* CAROUSEL MASTER */

.carousel-master {
    position: relative;
    height: 100%; 
    display: flex;
    justify-content: center;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-master .slide {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-master .slide.active {
    position: relative;
    max-width: 100%;
    display: flex;
    opacity: 0.8;
    background-size: cover;
    background-position: center 100%;
    z-index: -1;
}

.carousel-master .slide.active img{
    position: relative;
    width: 100%;
    object-fit: fill;
    animation: slide 7s ease;
}

.slide.active .text-carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 65%;
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(18, 18, 18, 0.991);
    transition: all 300ms ease;
}

.text-carousel .sub{
    margin: auto;
}

@keyframes slide {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
        opacity: 1;
    }
}

.controls-Master{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls-Master .prevMaster, .controls-Master .nextMaster{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: #222;
    transition: all 300ms ease;
}

.carousel-master .indicatorMaster {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    display: flex;
    transition: all 300ms ease;
}

.carousel-master .indicatorMaster div {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 .1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--main-bg-color);
    transition: all 0.5s ease;
}

.controls-Master .prevMaster:hover, .controls-Master .nextMaster:hover, .carousel-master .indicatorMaster div:hover{
    background-color: var(--main-color);
}

.carousel-master .indicatorMaster div.active{
    background-color: var(--main-color);
}

/* END-CAROUSEL-MASTER   */

/* END CAROUSELS CONTAINER */

.background-content{
    position: relative;
    top: -2vh;
    padding-top: 3vw;
    background-color: var(--main-bg-color);
}

.content{
    position: relative;
    width: 85%;
    height: 800px;
    margin: auto;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px 1px var(--main-color);
    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 15px 1px var(--main-color);
    z-index: 0;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../img/gifTenisRoxao2VTNCCCCCCCC.gif);
    background-color: var(--main-bg-color);
    background-position: center;
    background-size: cover;
    border-radius: 3vw;
}

.background-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text{
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    text-align: center;
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    font-style: oblique;
    color: var(--text-color);
    text-shadow: 2px 2px 2px var(--main-color);
    border-bottom: 2px solid var(--main-color) !important;
}

.sub{
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family:'Roboto', sans-serif; 
    margin-top: .5vw;
}

/* CATEGORIES CONTAINER */

.container-categories{
    margin: 1.5vw auto;
}

.description{
    max-width: 50%;
    margin: auto;
    margin-bottom: 1vw;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.categories > .card-categorie{ 
    flex: 0 0 30%;
}

/* CATEGORIE CARD */

.card-categorie{
    overflow: hidden;
    position: relative;
    height: 650px;
    cursor: pointer;
    margin: 1.5vw 0;
    border-radius: 10%;
    display: flex;
    box-shadow: 0px 0px 5px 1px black;
    -webkit-box-shadow: 0px 0px 5px 1px black;
    -moz-box-shadow: 0px 0px 5px 1px black;
}

.card-categorie:hover{
    box-shadow: 0px 0px 15px 1px var(--main-color);
    -webkit-box-shadow: 0px 0px 15px 1px var(--main-color);
    -moz-box-shadow: 0px 0px 15px 1px var(--main-color);
}

.card-categorie:hover .description span{
    background-color : rgba(0, 0, 0, 0.85);
}

.content-categories{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200%;
    transition: all 400ms ease;
}

.box-img-cat{
    width: 100%;
    height: 100%;
}

.box-img-cat img{
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: all 400ms ease;
}

.card-categorie:hover .box-img-cat img{
    overflow: hidden;
    opacity: 0.3;
    transform: scale(1.1);
    filter: blur(.7px);
}

.description-categorie{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 200ms ease 100ms;
}

.card-categorie:hover .content-categories{
    top: 0;
}

.card-categorie:hover .description-categorie{
    visibility: visible;
}

/* END CATEGORIE CARD */
/* END CATEGORIES CONTAINER */

/* EXAMPLE PRODUCTS CONTAINER */

.example-models{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 2px var(--main-color);
    margin: 11.5vh 0;
    padding: 10px;    
    background-color: rgba(0, 0, 0, 0.26);
}

.img-product img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.img-product img:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products > .product1, .products .product2{
    flex: 0 0 33%;
}

.product1, .product2{
    position: relative;
    width: 35%;
    height: 600px;
    margin: 1vw 0;
    border: 2px solid #8948fab4;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background-card.jpg);
    background-position: center;
    background-size: cover;
}

.product1::before, .product2::before {
    position: absolute;
    content: '';
    height: 100%;
    left: 0%;
    top: 0%;
    width: 100%;
    transform-origin: left;
    background: #8948fab4;
    background: linear-gradient(142deg, #8948fab4 35%, rgba(9, 9, 9, 0) 32%);
    z-index: 0;
}

.name-product{
    position: relative;
    padding: 1%;
    height: 10%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.name-product span{
    font-size: 3rem;
    text-align: justify !important;
    border: 0 !important;
}

.img-product{
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#image-example-product{
    max-width: 92%;
    max-height: 100%;
    object-fit: fill;
}

.button-product{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 72, 250, 0.767);
}

.button-product a{
    position: relative;
    width: 100%;
    height: 100%; 
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    border: 0 !important;
    z-index: 999;
}

.button-product:hover, .button-product a:hover{
    background-color: var(--main-color);
}

/* END EXAMPLE PRODUCTS CONTAINER */

/* HIGHLIGHTS CONTAINER */

.container-highlights{
    position: relative;
    margin: 11.5vh 0;
}

.highlights{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.highlights > .card-highlight{ 
    flex: 0 0 29%;
}

/* HIGHTLIGHT CARD */

.card-highlight{
    overflow: hidden;
    position: relative;
    height: 650px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px black;
    -webkit-box-shadow: 0px 0px 5px 1px black;
    -moz-box-shadow: 0px 0px 5px 1px black;
    transition: all 250ms ease;
}

.content-highlight{
    width: 100%;
    height: 100%;
}

.card-highlight:hover{
    box-shadow: 0px 0px 15px 2px rgb(151, 90, 255);
    -webkit-box-shadow: 0px 0px 15px 2px rgb(151, 90, 255);
    -moz-box-shadow: 0px 0px 15px 2px rgb(151, 90, 255);
}

.card-highlight::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
}

.card-highlight:hover:before{
    top: 0%;
    height: 100%;
    background: #000;
}

.card-highlight:hover .description-highlight{
    top: 0;
}

.box-img{
    width: 100%;
    height: 100%;
}

.box-img img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.card-highlight:hover .box-img img{
    overflow: hidden;
    opacity: 0.2;
    transform: scale(1.05);
    filter: blur(1px);
}

.description-highlight{
    position: absolute;
    top: 1000%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease;
}

.description-highlight .main{
    border: 0 !important;
}

.description-highlight .button-highlight{
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--main-color);
    background: var(--main-bg-color);
    transition: all 300ms ease;
    z-index: 10;
}

.description-highlight .button-highlight:hover{
    background-color: var(--main-color);
}

/* END HIGHTLIGHT CARD */
/* END HIGHLIGHTS CONTAINER */

/* PRODUCTS CONTAINER */

.container-products{
    position: relative;
    margin-top: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-products > .card{
    flex: 0 0 23%;
}

.products{
    width: 100%;
}

/* CARD PRODUCT */

.card{
    position: relative;
    height: 580px;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--main-color);
    background-color: #151515;
}

.card-img:hover .slider-card .slideC.active .img-card{
    max-height: 100%;
    transform: scale(0.95);
}

.card-img .slider-card{
    height: 100%;
    display: flex;
    justify-content: center;
}

.card-img .slider-card .slideC{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    margin: auto;
    height: 55%;
    display: none;
    animation: slideC 900ms ease;
}

.card-img .slider-card .slideC.active{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img .slider-card .slideC.active .img-card{
    width: 60%;
    transform: scale(0.85);
    transition: all 500ms ease;
}

@keyframes slideC{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.card-img {
    width: 100%;
    height: 55%;
    background-image: url(../img/background-card.jpg);
    border-bottom: 3px solid var(--main-color);
}
.card .nome {
    height: 13%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .preço {
    height: 10%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}
.card .juros{
    height: 12%;
    font-size: 1.3rem;
    letter-spacing: .5px;
    font-family: 'Bebas Neue', cursive;
    color: var(--text-color);
    text-align: center;
}

.card .juros span{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;
    color: var(--main-color);
    letter-spacing: .5px;
}

.card .btn{
    position: absolute;
    top: 90%;
    left: 0;
    width: 85%;
    height: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    background-color: var(--main-color);
    transition: all 300ms ease;
}
.card .btn:hover{
    letter-spacing: 1px;
}

.card .btn-cart:hover{
    background-color: var(--main-color);
}

.card .btn-cart{
    position: absolute;
    top: 90%;
    left: 85%;
    width: 15%;
    height: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8948fabd;
    transition: all 300ms ease;
}

.card .btn-cart i{
    color: var(--text-color);
    font-size: 1.3rem;
}

.controls-card .prev-card,
.controls-card .next-card {
    position: absolute;
    top: 0%;
    width: 10%;
    height: 55%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    border-bottom: 3px solid var(--main-color);
    transition: all 800ms ease;
}

.controls-card .prev-card:hover,
.controls-card .next-card:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.controls-card .prev-card {
    left: 0;
}

.controls-card .next-card {
    right: 0;
}

.indicator-card {
    position: absolute;
    width: 100%;
    bottom: 46%;
    display: flex;
    justify-content: center;
}

.indicator-card div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 20px;
    cursor: pointer;
    line-height: 25px;
    margin: 0 .1vw;
    color: white;
    background-color: var(--main-bg-color);
    transition: all 0.5s ease;
}

.indicator-card div.active {
    color: var(--main-color);
}

/* END CARD PRODUCT */
/* END CONTAINER PRODUCTS */


.allProducts{
    width: 30%;
    height: 125px;
    margin: 5vw auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    color: #fff !important;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 1px var(--main-color);
    box-shadow: 0px 0px 15px 1px var(--main-color);
    background-color: var(--main-bg-color);
    font-size: 1.4rem;
}

.allProducts .allh1 .all{
    color: var(--main-color);
    transition: all 300ms ease;
}

.allProducts .allh1 .all:hover{
    color: #9E5ED6;
}

/* FOOTER */

footer {
    padding-top: 55px;
    border-top: 2px groove var(--main-color);
}

footer .row {
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.footer-container {
    max-width: 1170px;  
    margin: auto;   
}

.footer-container ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 20px;
}

.footer-col h4 {
    position: relative;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-col h4::before {
    position: absolute;
    content: " ";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
    box-sizing: border-box;
}

.footer-col .ul-text li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1.2rem;
    font-family: 'Bebas Neue', cursive;
    text-transform: capitalize;
    color: #bbbbbbe5;
    text-decoration: none;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col .ul-text li a:hover {
    color: var(--main-color);
    padding-left: 6px;
}

.footer-col .ul-icon a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #252525;
    margin: 0 10px 10px 0;
    font-size: 1.1  rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.ul-icon a:hover {
    color: #141414;
    background-color: var(--main-color);
}

.ul-img{
    display: flex;
    flex-wrap: wrap;
}

.ul-img > a{
    min-width: 40px;
}

.ul-img a{
    height: 40px;
    margin: 3px;
    display: flex;
}

.ul-img a img{
    max-width: 55px;
}

.footer-bottom{
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Bebas Neue', cursive;
}

/* END-FOOTER  */

/* RESPONSIVITY */

@media screen and (min-width: 2000px){

    .container-items, .container-row{
        width: 90%;
    }
}

@media screen and (max-width: 1500px){

    .container-products > .card{
        flex: 0 0 30%;
    }

    .highlights > .card-highlight{
        flex: 0 0 45%;
    }
}

@media screen and (max-width: 1200px){
    
    .container-items, .container-row{
        width: 90%;
    }

    .highlights > .card-highlight {
        flex: 0 0 52%;
    }
   
    .navbar .nav{
        width: 90%;
    }

    .highlights{
        width: 100%;
    }

    .categories > .card-categorie{ 
        flex: 0 0 52%;
    }
    
    .products > .product1, .products .product2{
        flex: 0 0 80%;
    }

    .container-products > .card{
        flex: 0 0 40%;
    }

    .slide.active .text-carousel{
        width: 50%;
    }

}
  
@media screen and (max-width: 1024px) {

    .card{
        width: 47%;
    }

    .highlights > .card-highlight {
        margin-top: 1vw;
        margin-bottom: 1vw;
        flex: 0 0 60%;
    }

    .container-header{
        background-color: #181818;
    }

    .row-header{
        height: 70%;
    }
      
    .items{
        height: 15%;
    }

    .cart-items{
        width: 100%;
        margin: auto;
    }
    
    .navbar{
        display: none;
    }
    
    .check_responsive{
        display: flex;
    }
    
    .responsive-navbar{
        display: flex;
    }
    
    .container-items, .container-row{
        width: 85%;
    }

    .arrow.second, .arrow.third{
        left: 90%;
    }

    .container-categories{
        height: auto;
    }
    
    .categories > .card-categorie{ 
        flex: 0 0 85%;
    }

    .container-categories .description{
        font-size: 4rem;
    }

    .description-categorie{
        visibility: visible;
    }
    
    .main{
        font-size:3.8rem;
    }

    .container-products > .card{
        flex: 0 0 45%;
    }

    .contentt{
        width: 95%;
        height: 650px;   
    }
}
@media (max-width: 768px) {

    .slide.active .text-carousel{
        width: 78%;
    }

    .card{
        width: 65%;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    #example-products-3, #example-products-2, #example-products-1{
        justify-content: center;
    }
    
    .product1 img, .product2 img{
        width: 100%;
    }

    .main{
        font-size:3.2rem;
    }

    .container-products > .card{
        flex: 0 0 65%;
    }
}

@media screen and (max-width: 656px){

    .main{
        font-size: 2.4rem;
    }

    .description-highlight .sub{
        margin: auto;
    }

    .sub{
        font-size: 1.3rem;
    }

    .allProducts{
        width: 80%;
        height: auto;
    }

    .example-models .content .active-image .img{
        object-fit: cover;
        height: 60vh;
    }
    
    .example-models .title-tematic{
        width: 100%;
        font-size: 3.5rem;
    }
    
    .container-items, .container-row{
        width: 100%;
    }

    .container-categories .description{
        font-size: 2.2rem;
    }

    .card-highlight{
        height: 600px;
    }

    .contentt{
        height: 550px;   
    }
}

@media (max-width: 575px) {

    .main.name{
        font-size: 1rem;
    }

    .highlights > .card-highlight {
        flex: 0 0 90%;
    }

    .slide.active img{
        object-fit: fill;
    }

    .container-a-logo{
        height: 70%;
    }    

    .video img{
        object-fit: fill;
    }

    .cart-items a span{
        font-size: 1rem;
    }

    .cart-items a i, .li2 .log i{
        font-size: 1.2rem;
    }

    .cart-items a i .cart-num{
        width: 10px;
        height: 12px;
        padding: 0;
    }

    .check_responsive{
        width: 27px;
        height: 27px;
        top: 0;
    }

    .footer-col {
        width: 100%;
    }
            
    #example-products-3, #example-products-2, #example-products-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .example-models{
        height: auto;
    }
        
    .product1, .product2{
        width: 95%;
    }
        
    .product1:first-child, .product2:first-child{
        margin-right: 0;
        margin-bottom: 5%;
    }
        
    .product1 span, .product2 span{
        font-size: 1.3rem;
        width: 85%;
    }
    .main{
        font-size:2.134rem;
    }

    .container-products > .card{
        flex: 0 0 85%;
    }

    .carousels ,.card-highlight{
        height: 550px;
    }
}


@media screen and (max-width: 425px) {

    .carousel-master .indicatorMaster{
        top: auto;
        bottom: 2%;
    }

    .controls-Master .prevMaster, .controls-Master .nextMaster, .carousel-master .indicatorMaster div {
        width: 30px;
        height: 33px;
    }

    .video img{
        height: 40vh;
    }

    .card{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .slide.active .text-carousel{
        width: 78%;
        height: 65%;
    }

    .contentt{
        padding-bottom: 0;
    }

    .container-items, .container-row{
        width: 90%;
    }

    .search-bar{
        display: none;
    }

    .input-search{
        width: 90%;
    }

    .input-search{
        height: 45%;
        border: 0;
        border-radius: 5px;
    }
    
    .button-search{
        height: 53.5%;
        border: 0;
        border-radius: 0 3px 3px 0;
        left: 76%;
        top: 50%;
        width: 20%;
        transform: translateY(-50%);
    }
    
    .rs{
        display: none !important;
    }
    
    .label-search{
        font-size: 0.8rem;
    }
    
    .cart{
        display: none;
    }

    .search-bar.second, .cart.second{
        width: 100%;
        height: 50%;
        display: flex;
    }

    .logo{
        width: 60%;
    }

    .cart-items{
        width: 100%
    }
    
    .responsive-items{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        margin: .8vw;
        font-size: 2.2rem;
    }

    .main.second{
        width: 100%;
        font-size: 1.6rem;
    }

    .categories{
        padding: 0px;
    }

    .box-img-cat img{
        transform: scale(1.14);
    }

    .description{
        width: auto;
        font-size: 1rem;
    }

    .highlights{
        width: auto;
    }

    .example-models{
        width: 100%;
        margin-top: 75px;
    }

    .example-models .title-tematic{
        width: 100%;
        font-size: 3rem;
    }

    .button-product{
        width: auto;
        font-size: 11px;
        margin: 0;
    }

    .container-products{
        width: 99%;
        border-radius: 0;
    }

    .card .preço{
        font-size: 18px;
    }

    .indicator-card{
        bottom: 46.8%;
    }

    .indicator-card div{
        width: 20px;
        height: 18px;
    }

    .footer {
        height: 100%;
        display: block;
        justify-content: left;
    }
    
    .footer-top h2 {
        margin-top:16px;
        margin-bottom: 8px;
      }
    
    .footer-email-form h2 {
        margin-bottom: 1rem;
    }
    
    .footer-bottom {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    .carousels, .contentt, .product1, .product2, .card, .card-highlight, .card-categorie{
        height: 450px;
    }

    .info-text {
        width: 95%;
    }

}
  
@media  screen and (max-width: 375px) {

    header a, header span, header label, .footer-col ul li a, .footer-bottom{
        font-size: 1rem !important;
    }

    footer h4{
        font-size: 1.4rem !important;
    }

    .site-name{
        font-size: 1.5rem
    }

    .arrow.second, .arrow.second, .arrow.third {
        font-size: 1rem;
    }

    .responsive-items{
        width: 65%;
    }

    .slide.active .text-carousel{
        width: 75%;
        height: 50%;
        top: 45%;
    }

    .text-carousel .main{
        font-size: 1.3rem;
    }

    .categories > .card-categorie {
        flex: 0 0 95%;
    }

    .description-categorie .sub{
        margin:  0;
        width: 95%;
    }

    .info-text{
        width: 95%;
    }

    .button-product a, .main{
        font-size: 1.5rem;
    }

    .sub{
        font-size: 0.8rem;
    }

    .hidden{
        display: none !important;
    }

    .example-models .title-tematic{
        width: 100%;
        font-size: 2.1rem;
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    .container-items, .container-row{
        width: 97%;
    }

    .description{
        padding: 3px;
    }

    .description span{
        font-size: .7rem;
    }

    .highlights > .card-highlight {
        flex: 0 0 95%;
    }

    .cart-items a span{
        font-size: 12px;
    }

    .container-products > .card{
        flex: 0 0 90%;
    }

    .card .btn{
        font-size: 1.3rem;
    }

    .card .nome{
        font-size: 1.1rem;
    }

    .card .juros{
        font-size: 0.7rem;
    }

    .allProducts h1{
        font-size: 1.4rem;
        font-weight: 580;
    }

    .carousels, .content, .product1, .product2, .card, .card-highlight, .card-categorie{
        height: 425px;
    }

}

@media screen and (max-width:320px){

    .card-highlight{
        margin: 12px;
    }

    .carousels, .content, .product1, .product2, .card, .card-highlight, .card-categorie{
        height: 350px;
    }

}
/* END-RESPONSIVITY */