body{
    background-color: #202020;
}

header{
    margin-bottom: 2vw;
}

.info-text .main{
    border-bottom: 4px solid rgba(255, 255, 255, 0.85);
}

.container-produtos{
    margin-bottom: 2.5vw;
}

